<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/login" method="post">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" value="john"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" value="johnpassword"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>
